<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改v-前缀</title>
    <script src="../lib/vue-2.4.0.js"></script>
</head>
<style>
    .v-enter,
    .v-leave-to{
        opacity: 0;
        transform:translateX(100px)
    }

    .v-enter-active,
    .v-leave-active{
        transition:all 0.8s ease;
    }

    .my-enter,
    .my-leave-to{
        opacity: 0;
        transform:translateY(100px)
    }
    .my-enter-active,
    .my-leave-active{
        transition:all 0.8s ease;
    }

</style>

<!-- 要实现动画效果的部分 放在transition标签里面 -->
<body>
    <div id="app">
        <input type="button" value="toggle" @click="flag=!flag">
        <transition>
            <h1 v-if='flag'>animation动画1</h1>
        </transition>

    <hr>
    <input type="button" value="toggle2" @click='flag2=!flag2'>
        <transition name='my'>
            <h6 v-if='flag2'>修改v-前缀</h6>
        </transition>
    </div>
    <script>
        var vm=new Vue({
           el:'#app',
           data:{
               flag:false,
               flag2:false
           },
           methods:{}
        });
    </script>
</body>

</html>